.confetti {
  width: 15px;
  height: 15px;
  background: red;
  position: absolute;
  top: -20px;
  left: 0;
  opacity: 1;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  z-index: -1;
  animation: confetti 10s ease-in infinite;
}

@keyframes confetti {
  100% { 
    top: 100%; 
    transform: rotate(1100deg);
  }
}

